.card {
    width: 20%;
}

.card img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.info {
    padding: 0 10px;
}

.info h3 {
    text-transform: capitalize;
}

.info p {
    text-transform: capitalize;
}

.button {
    display: flex;
    justify-content: center;
}

.button Button {
    padding: 10px;
    font-size: 15px;
    color: white;
    width: 80%;
}